
{% extends "base.html" %}

{% block content %}




	
		
			<div class="form">


				<div class="form__label">


					<h3 id="form-title">LOGIN </h3>
				</div>
				
					<form method="POST" action="">
                        {% csrf_token %} <!-- we need this for Django safer way-->
						<div class="form__textarea2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="form__textarea2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="form__submit">
				 				<input class="form__submit" type="submit" value="Login">
				   			</div>
					</form>

				
                {% for message in messages %}
                 <p id="messages">  {{message}}}</p>
                {% endfor %}
		
				<div class="mt-4">
					<div class="already_account">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
					</div>
			
				</div>
			
		
	
</body>

</html>


{% endblock %}
